* {
    margin: 0px;
    padding: 0px;
}



.work-sans {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


/* share style */
.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

.display_flex {
    display: flex;
}

.dark1 {
    color: rgb(19, 19, 19);
}

.dark2 {
    color: rgb(66, 66, 66);
}

.dark3 {
    color: rgb(114, 114, 114);
}

.orange {
    color: rgb(255, 144, 14);
}

.btn_primary {
    background-color: rgb(255, 144, 14);
    padding: 16px 20px;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
}

main {
    max-width: 1120px;
    margin: 0 auto;
}







/* nav style  */
.navbar {
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}

.brand {
    font-size: 2.25rem;
    font-weight: 700;
}

.nav-links {
    gap: 50px;
    font-size: 0.9rem;
}

.nav-item {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;

}

.navbar,
.banner {
    max-width: 1152px;
    margin: 0 auto;

}



/* .banner style  */
.banner {
    margin-top: 93px;

}

.banner_img {
    width: 100%;
    margin: 40px 0 36px 0;
}

.banner_container {
    max-width: 690px;
    margin: 0 auto;
    text-align: center;
}

.banner_title {
    font-size: 3.2rem;
    font-weight: 700;
}

.banner_description {
    font-size: 0.9rem;
    margin: 20px 0px;
}

/* team and feature style  */

.teams {
    align-items: center;
    margin-top: 68px;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 19px;

}

.team-img {
    max-width: 270px;
    max-height: 270px;
}

.our-feature-container {
    margin-left: 3.75em;
    max-width: 430px;
}

.feature-title {
    font-size: 2.25rem;
    font-weight: 700;
}

.title1 {
    font-weight: 500;
}

.feature-description {
    font-size: 0.8rem;
    line-height: 20px;
    margin: 19px 0 25px 0;

}


/* feature section  */

.features{
    gap: 110px;
    margin-top: 100px;
}
#feature-section-title {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    margin-top: 30px;
}
.feature-card{
    padding: 20px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 16px;
    border-radius: 8px;

}
.feature-card .feature-title {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
    
}

.feature-card .feature-description {
    font-size: 1 rem;
    font-weight: 400;
    line-height: 20px;
}
.feature-img{
    width: 625px;
}
#Experience-batch{
    padding: 37px 35px;
    font-size: 1.25rem;
    font-weight: 500;
    margin-left: -70px;
    margin-top: -120px;
}
#Experience-year{
    font-size: 4rem;
    font-weight: 700;
}








/* fact section  */

.section-title {
    font-size: 2.25rem;
    font-weight: 700;
}

.section-description {
    font-size: 0.8rem;
    font-weight: 400;
    margin-top: 17px;
    max-width: 430px;


}

.fact-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 80px;
    margin-bottom: 140px;
    /* justify-items: center; */
}


.fact-card {
    width: 190px;
    height: 190px;
    border: 1px solid rgb(255, 144, 14);

    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.fact-number {
    margin: 8px 0px 4px 0px;
    font-size: 2.25rem;
    font-weight: 600;
}

.fact-name {
    font-size: 1rem;
    font-weight: 600;
}

/* sponspors  */


.sponspors_part1 {
    max-width: 433px;
    margin: 50px auto;
    text-align: center;
}

.sponsor_company {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
}

.sponsor_company img {
    filter: grayscale(100%);
    margin-bottom: 50px;
}

/* responsive media query */
@media screen and (max-width: 576px) {

    .navbar,
    .nav-links,
    .teams,
    .features {
        flex-direction: column;
    }

    .team-img-container,
    .fact-container,
    .sponsor_company {
        grid-template-columns: repeat(1, 1fr);

    }

    .fact-container {
        justify-items: center;
        gap: 16px;
    }

    .sponsor_company {
        justify-items: center;
        gap: 50px;
    }

    .team-img {
        max-width: 337px;
        max-height: 337px;
    }

    .our-feature-container {

        margin-top: 40px;
    }

    .fact-t {
        text-align: center;
    }
    #Experience-batch{
       
        margin-left: 20px;
        margin-top: 20px;
    }
    .feature-architects img{
        width: 100%;
    }



}

/* medium size device */
@media screen and (min-width: 576px) and (max-width:992px) {
    .teams,
    .features {
        flex-direction: column;
    }

    .our-feature-container {
        margin: 50px auto;
    }

    .sponsor_company,
    .fact-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
        justify-items: center;
    }
    #Experience-batch{
       
        margin-left: 20px;
        margin-top: 20px;
    }
    .feature-architects img{
        width: 100%;
    }



}